@font-face {
    font-family: "Noah";
    src: url("fonts/Noah-Regular.woff2") format('woff2');
    src: url("fonts/Noah-Regular.woff") format('woff');
}

@font-face {
    font-family: "Noah";
    src: url("fonts/Noah-Bold.woff2") format('woff2');
    src: url("fonts/Noah-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Noah";
    src: url("fonts/Noah-RegularItalic.woff2") format('woff2');
    src: url("fonts/Noah-RegularItalic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('fonts/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Medium.woff2') format('woff2'),
        url('fonts/AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Heavy.woff2') format('woff2'),
        url('fonts/AvenirNext-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-UltraLight.woff2') format('woff2'),
        url('fonts/AvenirNext-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
